<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cinob聊天室</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .box {
      display: flex;
    }
    .chat-l {
      width: 80%;
    }
    .content {
      padding: 5px;
      height: 400px;
    }
    .chat-r {
      width: 18%;
      height: 400px;
      padding: 5px;
    }
    .border {
      border: 2px solid #eee;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div id="app" class="box">
    <div class="chat-l">
      <div class="content border">
        <div v-for="item in message">
          {{item}}
        </div>
      </div>
      <div>
        对
        <select name="" v-model="user">
          <option value="0">全体</option>
          <option v-for="item in userList" :value="item.fd"> {{item.name}} </option>
        </select>
        发送:
        <input type="text" v-model="input">
        <button @click="send">发送</button>
      </div>
    </div>
    <div class="chat-r border">
        <div v-for="item in userList" @click="">
          {{item.name}}
        </div>
    </div>
  </div>
</body>
<script>

  const websocket = new WebSocket('ws://192.168.1.104:8080');

  var app = new Vue({
    el: '#app',
    data: {
      user: 0,
      message: [],
      input: '',
      userList: []
    },
    methods: {
      send () {
        websocket.send('{"info": "'+this.input+'","fd": '+this.user+'}')
        this.input = ''
      },
      showToMessage (msg) {
        this.message.push(msg)
      },
      addUser (user) {
        if (user.length > 0) {
          this.userList = user
        }
      }
    }
  })

  websocket.onmessage = function (res) {
    app.showToMessage(eval('(' + res.data + ')').msg)
    app.addUser(eval('(' + res.data + ')').userList)
  }
  websocket.onopen = function () {
    app.showToMessage('连接成功')
  }
</script>
</html>