<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cinob聊天室</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p v-for="item in message">
      {{item}}
    </p>
    <input type="text" v-model="input">
    <button @click="send">发送</button>
  </div>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      socket: null,
      message: [],
      input: ''
    },
    methods: {
      send () {
        this.socket.send(this.input)
        this.input = ''
      },
      showToMessage (msg) {
        this.message.push(msg)
      }
    }
  })

  const websocket = new WebSocket('ws://47.105.99.70:8080');
  websocket.onmessage = function (res) {
    app.showToMessage(res.data.msg)
  }
  websocket.onopen = function () {
    app.showToMessage('连接成功')
  }
  // websocket.onopen = function (evt) {
  //     console.log("Connected to WebSocket server.");
  // };

  // websocket.onclose = function (evt) {
  //     console.log("Disconnected");
  // };

  // websocket.onmessage = function (evt) {
  //     console.log('Retrieved data from server: ' + evt.data);
  // };

  // websocket.onerror = function (evt, e) {
  //     console.log('Error occured: ' + evt.data);
  // };
</script>
</html>